#news-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  width: 100vw;
  padding: 40px;
  background-color: beige;
}
#group {
  display: flex;
  background-color: blue;
}
#image-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid yellowgreen;
}
#news-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
